.mainWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: $orange-400;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  // max-height: 15.8rem;
}
.subTitle {
  cursor: pointer;
  color: $white;
  text-align: center;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.countWrap {
  width: 32.7rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.countNum {
  color: $orange-400;
  font-size: 3.2rem;
  font-weight: 700;
}
.back {
  cursor: pointer;
  display: inline-flex;
  padding: 1rem 1.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--gray-A_20, rgba(93, 93, 93, 0.24));
  backdrop-filter: blur(12px);

  position: absolute;
  bottom: 2.2rem;

  color: var(--gray-50, #f4f4f4);
  text-align: center;
  font-size: 1.8rem;
}
