.container {
  width: 32.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  background-color: $gray-a-20;
  border: 1px solid $gray-700;
}
