.cardWrap {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 1.6rem;
  transition: all 0.25s ease;
  user-select: none; // 드래그 시 텍스트 선택 방지
  cursor: grab;

  &.swiped {
    .timeWrap {
      opacity: 0;
      transform: translateX(-10px);
      display: none;
    }

    .editWrap {
      display: flex;
      opacity: 1;
    }

    .cardWrap3 {
      margin-left: 1rem;
    }
  }
}

.cardWrap2 {
  display: flex;
  width: 100%;
}

.cardWrap3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 2rem;
}

.timeWrap {
  display: flex;
  gap: 0.2rem;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.25s ease;
}

.time {
  @include body4;
  display: block;
  width: 8.1rem;
  color: $orange-200;
}

.textWrap {
  .category,
  .money {
    @include body4;
  }
}

.categoryIcon {
  padding: 0.6rem;
  width: 4.2rem;
  height: 4.2rem;
  border: 1px solid $white;
  border-radius: 100px;
  margin-top: 0.5rem;
}

.editWrap {
  display: none;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.cardEdit,
.cardDelete {
  @include body4;
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cardEdit {
  background-color: $gray-500;
}

.cardDelete {
  background-color: $red-400;
}
