.modalBack {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  backdrop-filter: blur(3px);
  z-index: 100;
  width: 100%;
  max-width: 60rem;
  height: 100vh;
}

.modalWrap {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 60rem;
  height: 70vh;
  min-height: 47rem;
  background-color: $gray-800;
  border-radius: 3.2rem 3.2rem 0 0;
  padding: 0.8rem 2.4rem;
  animation: slideUp 0.5s ease-out;
  z-index: 200;

  &.closing {
    animation: slideDown 0.3s ease-in forwards;
  }
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

@keyframes slideDown {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 100%);
  }
}

.bar {
  width: 4.4rem;
  height: 0.5rem;
  background-color: $gray-700;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

.back {
  position: fixed;
  left: 2.4rem;
  cursor: pointer;
}

.timeWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin-top: 2rem;
}

.time {
  @include body3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.plus {
  @include button2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.button {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 10.8rem);
  max-width: 55.2rem;
  z-index: 10;
  opacity: 0;
  animation: fadeIn 0.3s ease-out 0.1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 15rem);
  gap: 0.4rem;
}

.emptyState {
  @include body3;
  color: $white;
}

.content {
  @include h6;
  position: relative;
  color: $gray-200;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-top: 14rem;

  &.editing {
    margin-top: 3rem;
  }
}

.categoryText {
  display: flex;
  align-items: center;
}

.categoryMoney {
  display: block;

  &.hidden {
    display: none;
  }
}

.underline {
  text-decoration: underline;
  text-underline-offset: 0.8rem;
  cursor: pointer;
  margin-right: 0.8rem;
}

.underline.focused {
  color: $white;
}

.categorySelector {
  display: none;

  &.hidden {
    display: block;
  }
}

.total {
  @include body3;
  display: flex;
  justify-content: space-between;
  margin: 2.4rem 0 1.4rem 0;
}

.cardWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 100;
}

.card {
  padding: 1.2rem 0 1.4rem 0;
  border-top: 1px solid $gray-700;

  &:last-child {
    border-bottom: none;
  }
}