$white: #fff;
$black: #000;

$gray-50: #f4f4f4;
$gray-100: #dbdbdb;
$gray-200: #c3c3c3;
$gray-300: #aaaaaa;
$gray-400: #919191;
$gray-500: #787878;
$gray-600: #606060;
$gray-700: #474747;
$gray-800: #2f2f2f;
$gray-900: #161616;
$gray-a-10: #3d3d3d14;
$gray-a-20: #5d5d5d3d;
$gray-a-30: #9f9f9f3d;

$orange-50: #ffd3b8;
$orange-100: #ffc097;
$orange-200: #ffac75;
$orange-300: #ff9954;
$orange-400: #ff8533;
$orange-500: #da6e29;
$orange-600: #b5581f;
$orange-700: #914114;
$orange-800: #6c2b0a;
$orange-900: #471400;
$orange-a-10: #ff853333;

$red-50: #ffe6e3;
$red-100: #f8c5be;
$red-200: #f1a499;
$red-300: #e4634f;
$red-400: #dd422a;
$red-500: #c53a25;
$red-600: #ad3220;
$red-700: #962a1c;
$red-800: #7e2217;
$red-900: #661a12;
$red-a-10: #e4634f66;

$blue-50: #d9e8ff;
$blue-100: #bad3ff;
$blue-200: #9cbeff;
$blue-300: #7daaff;
$blue-400: #5f95ff;
$blue-500: #4080ff;
$blue-600: #346edf;
$blue-700: #275cbf;
$blue-800: #0e387e;
$blue-900: #02265e;

$naver-bg: #03c75a;
$kakao-text: rgba(0, 0, 0, 0.85);
$kakao-bg: #fee500;
$google-text: #262200;
$google-boder: #d1dbd6;
$error-red: #ff3232;
