.loginWrap {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 60rem;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11.7rem;

  & > p {
    color: white;
    text-align: center;

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 160%;
  }
  & > h1 {
    color: $orange-400;

    /* H5 */
    font-family: "UhBee Se_hyun";
    font-size: 2.4rem;
    font-weight: 700;
  }
}

.loginBox {
  margin-top: 12rem;
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}
.loginBtn {
  display: flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  align-self: stretch;
  border-radius: 0.8rem;
  border: 1px solid #fff;

  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}
.guest {
  cursor: pointer;
  width: fit-content;
  color: $gray-50;
  font-size: 1.6rem;
  line-height: 160%; /* 25.6px */
  border-bottom: 1px solid $gray-50;
}
.agreeWrap {
  margin-top: 3rem;
  padding: 2.4rem;
  color: $gray-300;

  font-size: 1.2rem;
  line-height: 130%;
  text-align: center;

  & > span {
    border-bottom: 1px solid $gray-300;
  }
}
