.myPageWrap {
  padding: 2rem 2.4rem;
}
.profileWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileImg {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileInner {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.profileName {
  color: #fff;
  text-align: center;

  /* body3 */
  font-family: LeeSeoyun;
  font-size: 1.8rem;
  line-height: 160%; /* 28.8px */
}
.editBtn {
  cursor: pointer;
}

.saveDay {
  margin-top: 1.6rem;
  padding: 1.2rem 2.4rem;
  border: 1px solid $orange-400;
  border-radius: 0.8rem;

  color: #fff;

  /* body3 */
  font-family: LeeSeoyun;
  font-size: 1.8rem;
  line-height: 160%; /* 28.8px */
}

.saveData {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  background: var(--gray-A_20, rgba(93, 93, 93, 0.24));

  /* tabbar_blur */
  backdrop-filter: blur(1.2rem);

  color: #fff;

  /* body4 */
  font-family: LeeSeoyun;
  font-size: 1.6rem;
  line-height: 140%; /* 22.4px */

  & > img {
    transform: rotate(-90deg);
  }
}
.badge {
  margin-top: 3.4rem;
  position: relative;
  & h2 {
    padding: 0.8rem 0;
    color: #fff;

    font-size: 1.4rem;
  }
}
.badgeList {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badgeItem {
  width: 8.6rem;
  height: 8.6rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.badgeGuest {
  filter: blur(5px);
}
.guestText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-black-white, #fff);
  text-align: center;

  /* body3 */
  font-family: LeeSeoyun;
  font-size: 1.6rem;
  line-height: 160%; /* 28.8px */
}
.policyVersion {
  margin-top: 3.4rem;
  padding: 0.8rem 0px;

  color: #fff;

  font-size: 1.4rem;
}
.currentVersion {
  display: flex;
  padding: 0.8rem 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  color: #fff;

  font-size: 1.4rem;

  & span {
    color: var(--white-black-white, #fff);
    text-align: center;

    font-family: LeeSeoyun;
    font-size: 1.4rem;
    letter-spacing: -0.35px;
  }
}
.out {
  display: flex;
  gap: 1.5rem;
  position: absolute;
  bottom: 3.4rem;
  left: 50%;
  transform: translateX(-50%);

  & p {
    cursor: pointer;
    color: $gray-50;

    font-family: LeeSeoyun;
    font-size: 1.2rem;
    line-height: 130%; /* 15.6px */
  }
}
.text {
  color: #fff;
  text-align: center;

  /* body3 */
  font-family: LeeSeoyun;
  font-size: 1.8rem;
  line-height: 160%; /* 28.8px */
}
.wrong {
  color: $red-300;

  /* body4 */
  font-family: LeeSeoyun;
  font-size: 1.6rem;
  line-height: 140%; /* 22.4px */
}
