.gnbWrap {
  width: 100%;
  padding: 0 2.4rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
}

.iconWrap {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  width: fit-content;
  height: 100%;
}

.icon {
  margin: 0.8rem;
  cursor: pointer;

  &.hidden {
    display: none;
  }
}

.cancel {
  @include body4;
  color: $gray-50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;

  &.hidden {
    display: none;
  }
}
