.listWrap {
  width: 100%;
  padding: 0 2.4rem;
}

.saveMoney {
  @include subtitle1;
  color: $white;
  display: flex;
  gap: 0.8rem;
  padding: 0.8rem 0;
  margin: 0.7rem 0 1.7rem;
}

.date {
  @include body4;
  color: $orange-400;
  width: 100%;
  background-color: $gray-800;
  margin-bottom: 2rem;
  padding: 0.2rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
}


.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.emptyState {
  @include body3;
  color: $white;
}
