.container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 30rem);
  max-width: 97.7rem;
  margin: 0 auto;
}

.button {
  width: 14.9rem;
  height: 6.2rem;
  background-color: #d9d9d9;
  align-self: flex-start;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.scroll {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow-y: auto;
  max-height: 60rem;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
