.gnb {
  @include h6;
  color: $orange-400;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.2rem 2.4rem 0 2.4rem;
  margin-bottom: 3.2rem;
}

.back {
  position: absolute;
  left: 2.4rem;
  cursor: pointer;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  padding: 2.4rem;
  max-width: 48rem;
  margin: 0 auto;
  justify-items: center;
}

.container {
  overflow-y: auto;
  max-height: 100vh;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sectionTitle {
  @include subtitle2;
  color: $white;
  display: flex;
  align-items: center;
  padding-left: 3.4rem;
}
