* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-main;
}

html {
  font-size: 62.5%;
  color: $white;
}

body {
  font-family: $font-main;
  font-weight: 400;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
}

a,
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

#mainSlide2 {
  height: 19.7rem;
}
#mainSlide2 .swiper-slide {
  opacity: 0.7;
  margin-bottom: 0 !important;
}
#mainSlide2 .swiper-slide-active {
  opacity: 1;
}
#mainSlide {
  height: 30rem;
  overflow: visible;
}
#mainSlide .swiper-slide {
  opacity: 0.7;
  margin-bottom: 0 !important;
}
#mainSlide .swiper-slide-active {
  opacity: 1;
}
#main .swiper-button-next {
  left: 50%;
  top: 15%;
  transform: translateX(-50%) rotate(180deg);
  &::after {
    display: none;
  }
}
#main .swiper-button-prev {
  left: 50%;
  top: 85%;
  transform: translateX(-50%);
  &::after {
    display: none;
  }
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   // -webkit-text-fill-color: ;
//   // -webkit-box-shadow: 0 0 0 1000px $gray70 inset;
//   // box-shadow: 0 0 0 1000px $gray70 inset;
//   transition: background-color 5000s ease-in-out 0s;
// }

// input:autofill,
// input:autofill:hover,
// input:autofill:focus,
// input:autofill:active {
//   // -webkit-text-fill-color: ;
//   // -webkit-box-shadow: 0 0 0 1000px $gray70 inset;
//   // box-shadow: 0 0 0 1000px $gray70 inset;
//   transition: background-color 5000s ease-in-out 0s;
// }
